@import './colors';
@import './switch';
@import './card';
@import './header';

.app-container {
    padding-top: 2em;
    height: 100vh;
    .main-container {
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;  
    } 

    .footer {
        font-size: 12px;
        color: $LightGrayishBlue;

        .link {
            color: $DarkGrayishBlue;

            .author {
                color: $DarkGrayishBlue;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .app-container {
        .main-container {
            flex-direction: column;
            gap: 10px;
        }
    }
}