.header-container {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2em;
    color: $DarkGrayishBlue;
    
    .switch-container {
        color: $GrayishBlue;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
