@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import './app';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../../images/bg-top.svg'), url('../../images/bg-bottom.svg'), $VeryLightGrayishBlue;
    background-repeat: no-repeat;
    background-position: top right, bottom left;
  }
  